html {
	font-family: inter-reg, sans-serif;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-size: 1.2rem;
	line-height: 1.2;
	background: var(--clr5);
	background: var(--grad2);
	color: white;
}

a,
a:link,
a:visited,
a:hover,
a:active {
	color: var(--clr3);
}
a:focus {
	color: #61222d;
}
