/* Eurofurencer */
@font-face {
	font-family: game-play;
	src: url('../../fonts/Gameplay.ttf');
}

/* Font Awsome */
@font-face {
	font-family: koulen;
	src: url('../../fonts/Koulen.ttf');
}

/* helvetica for meme txt */
