.img {
	background-size: contain;
}

.img1 {
	background-image: url(../../meme-imgs/1.jpg);
}
.img2 {
	background-image: url(../../meme-imgs/2.jpg);
}

.img3 {
	background-image: url(../../meme-imgs/3.jpg);
}

.img4 {
	background-image: url(../../meme-imgs/4.jpg);
}

.img5 {
	background-image: url(../../meme-imgs/5.jpg);
}

.img6 {
	background-image: url(../../meme-imgs/6.jpg);
}
.img7 {
	background-image: url(../../meme-imgs/7.jpg);
}

.img8 {
	background-image: url(../../meme-imgs/8.jpg);
}

.img9 {
	background-image: url(../../meme-imgs/9.jpg);
}

.img10 {
	background-image: url(../../meme-imgs/10.jpg);
}

.img11 {
	background-image: url(../../meme-imgs/11.jpg);
}

.img12 {
	background-image: url(../../meme-imgs/12.jpg);
}

.img13 {
	background-image: url(../../meme-imgs/13.jpg);
}

.img14 {
	background-image: url(../../meme-imgs/14.jpg);
}
.img15 {
	background-image: url(../../meme-imgs/15.jpg);
}
.img16 {
	background-image: url(../../meme-imgs/16.jpg);
}
