footer {
	background-color: var(--clr1);
}
.footer-grid {
	padding: 40px;
	margin: auto;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

footer img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	grid-row: 1/3;
	align-self: center;
	justify-self: center;
}

footer h3 {
	align-self: center;
}
footer article {
	font-family: inter-reg, sans-serif;
}
