/* .img-gallery-container {
} */

.img-gallery {
	padding: 50px;
	background-color: var(--clr3);
	margin: auto;
	margin-bottom: 60px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	justify-content: center;
	align-items: center;
	gap: 20px;
	border-radius: 1rem;
}
/* .img-gallery-bg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 96%;
	height: 96%;
	background-color: rgba(0, 0, 0, 0.05);
	z-index: -1;
	border-radius: 1rem;
} */
