header {
	justify-content: space-between;
	margin: auto;
	margin-bottom: 20px;
	padding-top: 10px;
}

.logo {
	font-family: game-play, sans-serif;
	font-size: 2rem;
	margin: 0;
}
.logo-meme {
	color: var(--clr4);
	display: block;
}

.top-nav {
	min-height: 80px;
	width: 50%;
	justify-content: space-around;
	align-items: center;
	font-size: 1.8rem;
	font-family: Koulen, sans-serif;
}

.top-nav a {
	color: var(--clr4);
	text-decoration: none;
}

.top-nav a:hover {
	color: var(--clr3);
}

.top-nav a:focus {
	color: var(--clr3);
	text-decoration: underline;
}
