.search-nav {
	margin: auto;
	/* overflow: hidden; */
	flex-wrap: wrap;
}

.search-bar {
	background: var(--clr5);
	background: var(--grad1);
	border-radius: 1rem;
	align-items: center;
	padding: 0 20px;
	height: 80px;
	max-width: 490px;
}
.search-bar > * {
	background: none;
	color: white;
	font-size: 1.5rem;
	line-height: 2;
	border: none;
	font-family: inter-reg;
}

.search-input:focus-visible {
	outline: none;
}

.search-btn {
	background: var(--clr5);
	color: var(--clr4);
	border-radius: 1rem;
}
.search-btn:hover {
	color: var(--clr3);
}

.search-icon {
	height: 30px;
	width: 30px;
	background-image: url(/assets/svg/search.svg);
	background-size: 30px 30px;
	/* position: relative; */
	bottom: 8px;
}

/* this changes the color of the default 'x' that appears in the search bar */
[type='search']::-webkit-search-cancel-button {
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	background-image: url(/assets/svg/X.svg);
	background-size: 20px 20px;
}

.key-word-container {
	justify-content: space-around;
	align-items: center;
	font-family: inter-reg, sans-serif;
}
.key-word-container span:hover {
	color: var(--clr3);
}

.keywords {
	white-space: nowrap;
}
.keywords > * {
	align-self: center;
	margin-right: 5px;
}

.more {
	display: none;
}
